#id1{
    width: 100%;
    margin: 0px auto;
    

}
#logo img
{
    width: 200px;
    margin-top: -10px;
    
}

ul#main_menu{

    list-style: none;
    display: flex;
    margin-left: 500px;


}
#header{
    display: flex;
}
ul#main_menu li{
    margin-right: 25px;

    

}
ul#main_menu li a{
    text-decoration: none;
    font-size: 25px;
}
